@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Josefin+Sans&display=swap');
body{
    background-image: linear-gradient(195deg,rgba(236, 101, 35, 0.1384),rgba(65, 83, 201, 1),rgba(29, 28, 28, 1));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
h1{
    width: 818px;
    height: 97px;
    flex-shrink: 0;
    color: #000;
    font-family: Jolly Lodger;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
img{
    mix-blend-mode: screen;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,p,button{
    position: absolute;

}

h1 {
    top: 0%;
}
p{
    color: #000;
    font-family: Josefin Sans;
    font-size: 40px;
    text-align: center;
    top: 30%;
    width: 1275px;
    height: 99px;
    flex-shrink: 0;

}
button.playbutton{
    background: rgba(0, 0, 0, 0.25);
    box-shadow: -7.900000095367432px 7.900000095367432px 15px 0px rgba(255, 255, 255, 0.10) inset, 7.900000095367432px -7.900000095367432px 15px 0px rgba(255, 241, 241, 0.10) inset;
    backdrop-filter: blur(7.5px);
    border: none;
    border-radius: 25px;
    padding: 8px 25px;
    color: white;
    top: 62%;
    left: 34%;
    font-size: 20px;
    font-family: josefin sans;
}
button.musicbutton{
    background: rgba(0, 0, 0, 0.25);
    box-shadow: -7.900000095367432px 7.900000095367432px 15px 0px rgba(255, 255, 255, 0.10) inset, 7.900000095367432px -7.900000095367432px 15px 0px rgba(255, 241, 241, 0.10) inset;
    backdrop-filter: blur(7.5px);
    border: none;
    border-radius: 25px;
    padding: 8px 25px;
    color: white;
    top: 62%;
    right: 36%;
    font-size: 20px;
    font-family: josefin sans;
}
button:hover{
    background:  rgba(0, 0, 0, 0.425);
    cursor: pointer;
}