/**
 * Your CSS goes here.
 */
 @import url('https://fonts.cdnfonts.com/css/jolly-lodger');
 @import url('https://fonts.cdnfonts.com/css/josefin-sans');
 
 @media (width>= 600px) {
  body { background-image: url(https://a.ltrbxd.com/resized/sm/upload/ii/ly/fy/qz/alice-in-wonderland-2010-1200-1200-675-675-crop-000000.jpg?v=d55a54b5a6);
 }}
 @media (width< 600px) {
  body { background-image: url(https://e1.pxfuel.com/desktop-wallpaper/131/965/desktop-wallpaper-johnny-depp-alice-through-the-looking-glass-1080x1920-johnny-depp-iphone-thumbnail.jpg);
 }}


 body{
  /*background-image: url(https://a.ltrbxd.com/resized/sm/upload/ii/ly/fy/qz/alice-in-wonderland-2010-1200-1200-675-675-crop-000000.jpg?v=d55a54b5a6);
  */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-right: auto ;
  margin-left: auto ;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
   }
header{
  font-size: 3rem;
  text-align: center;
  font-family: jolly Lodger;
  margin: 40px;
  padding: 5%;
}

 div#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
  align-content: space-around;
  justify-content: space-evenly;
  margin: 40px;
  padding: 5%;
}


.madLibsEdit,
.madLibsPreview {
  width: 40%;
  height: 400p ;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(63, 6, 6, 0.685);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
  align-content: space-around;
  justify-content: space-evenly;
  margin: 40px;
  padding: 5%;
}
.btn{
  margin-block: 3px;
  padding: 1%;
  font-family: josefin-sans;
    border-radius: 5px;
  border-color: olive;
  background-color: olivedrab;
box-shadow: 0 0 5px olive, 0 0 25px olive;
}
.btn:hover{
  box-shadow: 0 0 5px olive,
  0 0 25px olive, 0 0 50px olive,
  0 0 100px olive, 0 0 200px olive ;
}

/*
.madLibsEdit input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.madLibsPreview p {
  margin-bottom: 10px;
}

.madLibsEdit input:focus {
  outline: none;
  border-color: #5c7cfa;
  box-shadow: 0 0 5px rgba(92, 124, 250, 0.5);
}

.madLibsEdit input.filled {
  background-color: #f2f2f2;
}

.madLibsEdit input.empty {
  background-color: #fff;
}



  .madLibsEdit,
  .madLibsPreview {
    width: 40%;
  }
}