/**
 * Your CSS goes here.
 */
 @import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Josefin+Sans:wght@400;600;700&display=swap');
 *{
  backdrop-filter: blur(3.5px);
}
 @media (width>= 600px) {
  body {

    background-image: linear-gradient(180deg,rgba(236, 101, 35, 0.138),rgba(65, 83, 201, 1),rgba(29, 28, 28, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;;
  }}
 @media (width< 600px) {
.madLibsEdit.madLibsPreview {
    font-size: 1rem;
    width:  70%;
}

}

*{
  backdrop-filter: blur(3.5px);
}
 body{
  background-image: url(https://a.ltrbxd.com/resized/sm/upload/ii/ly/fy/qz/alice-in-wonderland-2010-1200-1200-675-675-crop-000000.jpg?v=d55a54b5a6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: auto 1fr auto ;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
header{
    display: flex;
    justify-content: center;
    font-family: jolly lodger;
    font-size: 2rem;
    text-shadow: 0px 9px 12px rgba(0,0,0,1);
    margin-bottom: 0;
}
s{
  font-size: 3.5rem;
  text-decoration-color: rgb(141, 12, 12);
  text-decoration-style:wavy ;
}
header img{
  width: 30%;

}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.madLibsEdit,
.madLibsPreview {
  width: auto;
  height: auto ;
  padding: 20px;
  margin: 20px;
  background-color: #473333af;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.8;
  font-weight: 600;
}
footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
  align-content: space-around;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 0px;
}

.btn{
  padding: 8px 25px;
  font-family: josefin-sans;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  background: rgb(31, 25, 25);
  box-shadow: -7.900000095367432px 7.900000095367432px 15px 0px rgba(255, 255, 255, 0.10) inset, 7.900000095367432px -7.900000095367432px 15px 0px rgba(255, 241, 241, 0.10) inset;
  backdrop-filter: blur(7.5px);
  font-size: 1.2rem;
  margin-bottom:15px
}
.btn:hover{
  background: rgba(0, 0, 0, 0.596);
  box-shadow: 0px 0px 52px 15px rgba(0,0,0,0.63);-webkit-box-shadow: 0px 0px 52px 15px rgba(0,0,0,0.63);-moz-box-shadow: 0px 0px 52px 15px rgba(0,0,0,0.63);
  color: #ffffff;
}

input,p {
  font-family: josefin sans;
  font-size: 1rem;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.11);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.356);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9999995b;
}
#volumeSlider {
  border-radius: 5px;
  width: 8%;


}
input{
  /* Reduce the size of the input element */
  width: 50px;
  height: 5px;
  padding: 8px 25px;
  font-family: josefin-sans;
  border-radius: 5px;
  border: none;
  color: #e90000;
  background: rgb(230, 216, 216);
  box-shadow: -7.900000095367432px 7.900000095367432px 15px 0px rgba(255, 255, 255, 0.10) inset, 7.900000095367432px -7.900000095367432px 15px 0px rgba(255, 241, 241, 0.10) inset;

}
#posPreview{
  color:rgba(17, 255, 156, 0.74);
}